body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.text-white{
    color: white;
}
.sec-flex{
    display: flex;
    padding: 5%;
    
}
.top-image{
    background-image: url(images/wave.svg);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
}
img{
    width: 80%;
}
.link{
    color: white;
    text-decoration: none;
    padding: 10px 45px;
    border-radius: 10px;
    background-image: Linear-gradient(blue, blueviolet);
}